* {
    list-style: none;   
    }
      body {
        padding-top: 10rem;
        font-size: 14px;
        text-align: center;
        width: 50em;
      }
      
    header{
        background-color: rgb(51, 139, 153);
    }
      
      h1{
        color: rgb(255, 255, 255);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
      }

      h2{
        color: white;
        font-size: small;
        font-style: normal;
      }

      #top{
        padding-bottom: 15px;
      }

      #buttons{
        color: rgb(29, 169, 29);
      }

      img{
        height:220px;
        width:195px;
        border-radius: 50%;
      }